body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

tr {
  width: 10%;
}

#root {
  margin-top: 10%;
}